@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
  font-family: 'Orbitron', sans-serif;
  align-items: center;
}

.changeinfo{
  text-align: center;
  border: show;
  border-color: black;
  border-width: 1cm;
}

.ourservices{
  margin-left: 30;
}
